
<div id='homePage'>
    <img src='https://cdn3.vectorstock.com/i/1000x1000/85/72/set-of-people-icons-in-flat-style-with-faces-20-a-vector-11618572.jpg' width='300' height='300' />
    <h1>{{heading}}</h1>
    <p>The place where people connect</p>
</div>
<main>
    <form class="product-form" action="/peoples/add" method="POST">
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="name" value='Josh'>
        </div>
        <div class="form-control">
            <label for="title">About</label>
            <input type="text" name="about" value='Best of the season'>
        </div>
        <div class="form-control">
            <label for="title">ImageURL</label>
            <input type="text" name="url" value='https://randomuser.me/api/portraits/med/men/65.jpg'>
            <button class="btn" type="submit">Add People</button>
        </div>
    </form>
</main>

{{#each people}}
    <a href='/people/{{this.id}}'>
        <div class="peoples">
            <img src='{{this.url}}' />
            <div>
                <p><b>{{this.name}}</b></p>
                <p>{{this.about}}</p>
            </div>
        </div>
    </a>
{{/each}}

{{>footer}}






